/* [3B3B3B - black for writing]  */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: linear-gradient(to bottom, #8EA67F, #fff); */
    background-color: aliceblue;
  }
.section1{
  height: 700px;
  width: 100%;
}
.section2{
  height: 700px;
  width: 100%;
  background-color: blueviolet;
}
.section3{
  height: 400px;
  width: 100%;
  background-color: springgreen;
}
.section4{
    height: 700px;
    width: 100%;
    background-color: darkblue;
}
.section5{
    height: 700px;
    width: 100%;
    background-color: crimson;
}
.div1{
    height: 700px;
    width: 50%;
    background-image: linear-gradient(to bottom, #8EA67F, white);
}
.div2{
    height: 700px;
    width: 50%;
    background-color: rgb(142, 166, 127);
}
.land{
    display: flex;
}
.ingredient{
    height: 100px;
    width: 100%;
    background-color: #AAB9A1;
}
.ing-img{
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    padding-top: 10px;
}
.star{
    display: flex;
    margin-top: 100px ;
    justify-content: center;

}
